.card {
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  width: 100%;
  min-height: 560px;
  height: 100%;
  text-align: center;
}
.card .back {
  display: block;
  color: #fff;
  text-align: left;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 70px;
  text-align: center;
}
.card .back:hover,
.card .back:focus {
  color: #000;
  border: 1px solid #000;
}
.card .imgBox {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.card .img {
  width: 40%;
  height: 40%;
}
.card .qr {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card .name {
  text-transform: capitalize;
  font-size: 18px;
}
.card .table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.card .table td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}
.card .table td .type {
  text-transform: capitalize;
}
.card .table td .type:not(:last-of-type) {
  display: inline-block;
  margin-right: 5px;
}
