@keyframes loader-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.loader {
  justify-content: center;
  display: flex;
  margin-top: 15px;
  height: 100%;
}
.loaderIcon {
  animation: loader-rotate 2s linear infinite;
}

.loaderIcon circle {
  animation: loader-dash 1.5s ease-in-out infinite;
}
