.main {
  padding: 20px 20px 0;
  position: relative;
}
.page {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  left: 0;
  bottom: 20px;
  top: 100px;
}

@media only screen and (min-width: 768px) {
  .page .list {
    width: 60%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page .details {
    width: 40%;
  }
}
.page .btn {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  backdrop-filter: blur(4px);
  color: #000;
  text-transform: capitalize;
  border: none;
}
.page .btn:hover,
.page .btn:focus {
  background-color: #000;
  color: #fff;
}
