.preview {
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  min-width: 280px;
  width: 50%;
  margin: 10px;
}
.preview:hover,
.preview:focus {
  outline: 1px solid #fff;
}
.preview .img {
  background-color: #000;
  margin-right: 10px;
}
.preview .name {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #000;
  font-size: 1rem;
}
.preview .types {
  display: flex;
}
.preview .types .type {
  padding: 3px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #000;
}
.preview .types .type:hover,
.preview .types .type:focus {
  border: 1px solid #fff;
}
.preview .types .type:not(:last-of-type) {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .preview {
    flex-direction: column;
    width: auto;
    min-width: unset;
  }
  .preview .img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
